@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* heading and logo */

h1,
h2 {
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

#logo {
  font-size: 2rem;
}

/* navigation Links */

header {
  margin: 0.5rem 0;
  padding-inline: 1rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#menu {
  display: flex;
  column-gap: 0.5rem;
  font-size: 1rem;
  letter-spacing: 4px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

#hero-image {
  height: 100%;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#cover-text,
#cover-text h2 {
  color: #fff;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

#cover-text {
  font-size: 130%;
  font-family: oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgb(241, 109, 107, 0.7);

  bottom: 30px;
  right: 150px;

  position: absolute;
}

/* club ethos */

@media screen and (max-width: 999px) {
  #club-ethos {
    max-width: 600px;
    margin: 0 auto;
    padding-inline: 1rem;
  }
}

#club-ethos h2 {
  border-bottom: 1px solid gray;
}

@media screen and (min-width: 1000px) {
  #club-ethos > div:nth-child(1),
  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 1000px) {
  #club-ethos {
    display: grid;
    grid-column-gap: 1rem;
  }
}

#left-about > div:nth-child(2),
#right-about > div,
#circle-container > div:nth-child(1) {
  margin-top: 1.5rem;
}

@media screen and (min-width: 1000px) {
  #right-about {
    grid-column-start: 3;
  }
}

@media screen and (min-width: 1000px) {
  #circle-container {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

#circle-container {
  text-align: center;
}

#circle-container img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 0.5px solid gray;
  padding: 0.5rem;
}

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 50px 0;
}

#welcome {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

/* event times */

#times {
  background-image: url("../images/dublin-city.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  width: 20%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
}

#times h2 {
  color: #fafafa;
}

#photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
}

#photo > img {
  width: 100%;
}

@media screen and (max-width: 950px) {
  #menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text {
    left: 0;
  }

  #club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  .left-about-heading,
  .right-about-heading {
    width: inherit;
  }
  .left-about-heading h2,
  .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p,
  .right-about-heading p {
    text-align: center;
    padding:0 20px;
  }
